# content ignored due to licensing if its content 
workspace
derby.log
conf/jetty/gen/
conf/jetty/p2/

# migration of configuration files, this will be able to be removed 
# again later
conf/jetty/user_configs/sdk_files.cfg

my_clean.ps1

# gradle
.gradle/

# idea
.idea/
*.iml

*.swp
